* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	padding: 1rem 2rem;
	background-color: #FFEBEE;
	position: relative;
}

.header-brand {
	font-size: 1.6rem;
	font-family: "Titillium Web", sans-serif;
  	font-weight: 600;
	color: #FFEBEE;
	background-color: #EF5350;
	margin: 0;
	padding: 0.5rem 1.5rem;
	border-radius: 0.5rem;
}

.header-nav {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 2rem;
}

.header-link {
	color: #000000;
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
}

.header-link.active {
	color: #EF5350;
}

@media only screen and (max-width: 768px) {
	.header {
		flex-direction: column;
	}

	.header-nav {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}
}

.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	padding: 2rem 2rem;
	background-color: #EF5350;
}

.footer-brand {
	flex: 1;
	font-size: 2rem;
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
	color: #FFEBEE;
	margin: 0;
	padding: 0;
}

.footer-contact {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.footer-icon {
	color: #FFEBEE;
	font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
	.footer {
		flex-direction: column;
	}

	.footer-contact {
		flex-direction: row;
		gap: 1rem;
	}
}

.hero {
	position: relative;
	overflow: hidden;
}

.hero-bg {
	width: 100%;
	filter: brightness(50%);
}

.hero-wrap {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 2rem;
	text-align: center;
}

.hero-title {
	color: #FFFFFF;
	font-size: 4rem;
	font-weight: 700;
	margin: 1rem 0;
	padding: 0;
}

.hero-subtitle {
	color: #FFFFFF;
	font-size: 1.4rem;
	font-weight: 400;
	margin: 1rem 0;
	padding: 0;
}

@media only screen and (max-width: 768px) {
	.hero-bg {
		width: auto;
		max-height: 20rem;
	}
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #424242;
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
	margin: 4rem;
	padding: 0;
}

.heading::after {
	display: block;
	width: 10rem;
	content: "";
	margin-top: 0.5rem;
	border-bottom: 0.25rem solid #EF5350;
}

.menu {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 4rem;
	padding: 4rem 2rem;
	padding-top: 0;
}

.menu-box {
	width: calc(100% / 3 - 4rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	position: relative;
	text-decoration: none;
}

.menu-box:hover {
	color: #000000;
	background-color: #FFFFFF;
	transition: 0.1s all ease-in-out;
}

.menu-img {
	width: 100%;
	border-radius: 0.75rem;
	box-shadow: 0 0 1rem 0.25rem #EF535010;
}

.menu-wrap {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0 0.5rem;
}

.menu-title,
.menu-description {
	margin: 0;
	padding: 0;
	text-align: center;
}

.menu-title {
	color: #424242;
	font-size: 1.2rem;
	font-weight: 600;
}

.menu-description {
	color: #757575;
	font-size: 0.8rem;
	font-weight: 600;
}

.menu-action {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	color: #FFEBEE;
	background-color: #EF5350;
	border-radius: 50%;
	transition: all 0.1s ease-in-out;
}

.menu-action:hover {
	color: #EF5350;
	background-color: #FFEBEE;
}

@media only screen and (max-width: 1024px) {
	.menu-box {
		width: calc(100% / 2 - 4rem);
	}
}

@media only screen and (max-width: 768px) {
	.menu {
		flex-direction: column;
	}

	.menu-box {
		width: 100%;
	}
}

.testimony {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 4rem;
	padding: 4rem;
	padding-top: 0;
}

.testimony-box {
	width: calc(100% / 3 - 4rem);
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 1rem;
	background-color: #FFEBEE;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 0 1rem 0.25rem #EF535010;
}

.testimony-img {
	width: 10rem;
	height: auto;
	border-radius: 0.75rem;
}

.testimony-wrap {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.5rem 0;
}

.testimony-title,
.testimony-content {
	margin: 0;
	padding: 0;
}

.testimony-title {
	color: #424242;
	font-size: 1.2rem;
	font-weight: 600;
}

.testimony-content {
	color: #757575;
	font-size: 0.8rem;
	font-weight: 400;
}

@media only screen and (max-width: 1280px) {
	.testimony-box {
		width: calc(100% / 2 - 4rem);
	}
}

@media only screen and (max-width: 1024px) {
	.testimony {
		flex-direction: column;
	}

	.testimony-box {
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	.testimony-box {
		flex-direction: column;
	}
}

.about-content {
	padding: 0 4rem;
	text-align: justify;
	font-size: 1rem;
	color: #424242;
}

.principe {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 4rem;
	padding-top: 0;
	gap: 2rem;
}

.principe-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.principe-box i {
	color: #EF5350;
	background-color: #FFEBEE;
	padding: 2rem;
	border-radius: 50%;
	font-size: 3rem;
}

.principe-content {
	color: #424242;
	font-size: 1.2rem;
	font-weight: 600;
}

@media only screen and (max-width: 768px) {
	.principe {
		flex-direction: column;
	}
}

.auth-page {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.auth-bg,
.auth-wrap {
	width: 50%;
}

.auth-bg {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.auth-bg img {
	width: 100%;
}

.auth-wrap {
	padding: 2rem 4rem;
	overflow: auto;
}

.auth-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 4rem;
}

.auth-form label {
	color: #424242;
	font-size: 1rem;
	font-weight: 400;
}

.auth-form input {
	width: 100%;
	color: #424242;
	background-color: #FFFFFF;
	font-size: 1rem;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
	border: 1px solid #757575;
	border-radius: 0.5rem;
	padding: 0.75rem 1rem;
	outline: 0;
}

.auth-form button {
	color: #FFFFFF;
	background-color: #EF5350;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 0.5rem;
	padding: 0.75rem 1rem;
	border: 0;
	outline: 0;
}

.form-group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.form-check {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.form-check input[type="checkbox"] {
	width: 1.5rem;
	height: 1.5rem;
}

.form-check label {
	color: #424242;
	font-size: 1rem;
	font-weight: 400;
}

.form-check a {
	color: #EF5350;
	text-decoration: none;
}

@media only screen and (max-width: 1024px) {
	.auth-bg img {
		width: auto;
		height: 100%;
	}
}

@media only screen and (max-width: 768px) {
	.auth-page {
		flex-direction: column;
		height: auto;
	}

	.auth-bg,
	.auth-wrap {
		width: 100%;
	}

	.auth-bg {
		max-height: 20rem;
	}
}
